.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(233, 233, 233);
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px; 
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;
}

@media (max-width: 768px) {
  .profiles-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 480px) {
  .profiles-container {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
  }
}


